<a href="https://colab.research.google.com/github/KarolSalazar/tareas_de_clase/blob/master/TallerClase28abr2023_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L=[['Alice',0,3],
  ['Bob',1,2],
  ['Alice',3,1],
  ['Alice',8,0],
  ['Bob',3,2]
  ]

In [ ]:
print(list(filter(lambda x: x[0]== 'Alice', L)))

[['Alice', 0, 3], ['Alice', 3, 1], ['Alice', 8, 0]]

In [ ]:
list("Santiago")

['S', 'a', 'n', 't', 'i', 'a', 'g', 'o']

Solución Taller Python Funcional

Escriba un programa en Python para triplicar todos los números en una lista dada de enteros.

In [2]:
lista_enteros = [1, 2, 3, 4, 5]

lista_sol = list(map(lambda x: x * 3, lista_enteros))

print("Lista original:", lista_enteros)
print("Lista solución:", lista_triplicada)

Lista original: [1, 2, 3, 4, 5]
Lista solución: [3, 6, 9, 12, 15]

Escriba un programa de Python para agregar tres listas dadas.

In [3]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista3 = [7, 8, 9]

resultado = list(map(lambda x, y, z: x + y + z, lista1, lista2, lista3))

print(resultado)

[12, 15, 18]

Escriba un programa de Python para listar la lista de cadenas dadas individualmente.

In [4]:
lista = ['el', 'poderoso', 'paco']

list(map(lambda x: print(x), lista))

el
poderoso
paco

[None, None, None]

Escriba un programa en Python para crear una lista que contenga la potencia de dicho número en bases elevadas al número correspondiente en el índice.

In [5]:
base = 2
exp = [0, 1, 2, 3, 4]

resultado = list(map(lambda x: base ** x, exp))

print(resultado)

[1, 2, 4, 8, 16]

Escriba un programa Python para elevar al cuadrado los elementos de una lista.

In [7]:
numeros = [1, 2, 3, 4, 5]
cuadrados = list(map(lambda x: x ** 2, numeros))
print(cuadrados)

[1, 4, 9, 16, 25]

Escriba un programa en Python para convertir todos los caracteres en mayúsculas y minúsculas y eliminar las letras duplicadas de una secuencia determinada.

In [8]:
secuencia = "ejercicio 6 reducir una secuencia de caracteres"
mayusculas = secuencia.upper()
minusculas = secuencia.lower()
sin_duplicados = "".join(set(secuencia))

print("Original:", secuencia)
print("Mayúsculas:", mayusculas)
print("Minúsculas:", minusculas)
print("Unicos:", sin_duplicados)

Original: ejercicio 6 reducir una secuencia de caracteres
Mayúsculas: EJERCICIO 6 REDUCIR UNA SECUENCIA DE CARACTERES
Minúsculas: ejercicio 6 reducir una secuencia de caracteres
Unicos: oaestcji unr6d

Escriba un programa Python para agregar dos listas dadas y encontrar la diferencia entre ellas.

In [9]:
from functools import reduce
lista1 = [1, 2, 3, 4, 5]
lista2 = [6, 7, 8, 9, 10]

suma = list(map(lambda x, y: x + y, lista1, lista2))
resta = list(map(lambda x, y: x - y, lista1, lista2))
diferencia = reduce(lambda x, y: x + y, resta)

print(f'La suma es {suma}')
print(f'La resta es {resta}')     
print(f'La diferencia es {diferencia}')

La suma es [7, 9, 11, 13, 15]
La resta es [-5, -5, -5, -5, -5]
La diferencia es -25

Escriba un programa en Python para convertir una lista dada de enteros y una tupla de enteros en una lista de cadenas.

In [12]:
lista = [1, 2, 3]
tupla = (4, 5, 6)

resultado = list(map(lambda x: str(x), lista + list(tupla)))

print(resultado)

['1', '2', '3', '4', '5', '6']

Escriba un programa de Python para crear una nueva lista que tome elementos específicos de una tupla y convierta un valor de cadena en un número entero

In [11]:
tupla = ('12', '34', '56', '78')
indices = (0, 2, 3) 

numeros_enteros = list(map(lambda i: int(tupla[i]), indices))

print(numeros_enteros)

[12, 56, 78]

Escriba un programa en Python para calcular el cuadrado de los primeros N números de Fibonacci y genere una lista de los números.


Escriba un programa en Python para calcular la suma de los elementos de una matriz de enteros.

Escriba un programa en Python para encontrar la razón de números positivos, números negativos y ceros en una matriz de enteros.

Escriba un programa Python para intercalar dos listas en otra lista al azar.

In [13]:
import random
import itertools

lista1 = [1, 3, 5, 7, 9]
lista2 = [2, 4, 6, 8, 10]

intercalados = list(itertools.chain(*zip(lista1, lista2)))

random.shuffle(intercalados)

print(intercalados)

[7, 8, 1, 2, 10, 5, 4, 6, 9, 3]

Escriba un programa Python para dividir un diccionario dado de listas en una lista de diccionarios utilizando la función de mapa.

In [14]:
diccionario = {
    'nombres': ['Dai', 'Kmilo', 'Juan'],
    'apellidoss': ['Paz', 'Salazar', 'Posso'],
    'lugares': ['casa', 'parque', 'universidad']
}

lista_diccionarios = list(map(lambda x: {k: v[x] for k, v in diccionario.items()}, range(len(next(iter(diccionario.values()))))))

print(lista_diccionarios)

[{'nombres': 'Dai', 'apellidoss': 'Paz', 'lugares': 'casa'}, {'nombres': 'Kmilo', 'apellidoss': 'Salazar', 'lugares': 'parque'}, {'nombres': 'Juan', 'apellidoss': 'Posso', 'lugares': 'universidad'}]

Escriba un programa en Python para convertir una lista dada de cadenas en una lista de listas usando la función map

In [16]:
strings = ['Paco', 'es', 'un', 'poderoso', 'dragon']
listas = list(map(lambda s: list(s), strings))
listas_de_una_cadena = list(map(lambda l: ''.join(l), listas))
print(listas_de_una_cadena)

['Paco', 'es', 'un', 'poderoso', 'dragon']

Escriba un programa en Python para convertir una lista dada de tuplas en una lista de cadenas usando la función map.

In [17]:
lista_tuplas = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
lista_cadenas = list(map(lambda tupla: ''.join(map(str, tupla)), lista_tuplas))
print(lista_cadenas)

['123', '456', '789']